.search-container {
    margin-top: 5%;
}
.title{
}
.search-bar {
}
.search {
}
.show-container {
    display: flex;
    margin: 10px 5px 0 5px;
}

.avatar {
    flex: 1;
    max-width: 50%;
}
img{
    border-radius: 50%;
}
.name {
    flex: 4;
    cursor: pointer;
}