.user-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Goudy Bookletter 1911', serif;
}

.avatar-show {
    flex: 2;
    align-self: center;
    margin-bottom: 5px;
}
img{
    border-radius: 50%;
}
.user-details{
    margin-top: 5px;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user {
    flex: 1;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    
}
.repos {
    flex: 1;
    border: 2px solid black;
    border-left: none;
    cursor: pointer;
    text-align: center;
    
}
.profile {
    margin: 20px 30px 0 30px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.rowOne{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.key {
    flex: 1;
}

.value{
    flex: 2;
}

.repo-details{
    margin: 20px 30px 0 30px;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

.repo-show{
    text-align: start;
    font-size: 20px !important;
}
